<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login-style.css}">
    <title>관리자 로그인</title>
</head>
<body>
    <div class="login">
        <p class="wrapped">
            <label>ID</label>
            <input type="text" name="churchName" />
        </p>
        <p class="wrapped">
            <label>PASSWORD</label>
            <input type="password" name="password" />
        </p>
        <p class="wrapped">
            <button onclick="login()">로그인</button>
        </p>
    </div>
</body>
<script src="http://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    let $act

    window.onload = function () {
        $act = sessionStorage.getItem("accessToken")
        sessionStorage.removeItem("accessToken")
        if ($act != null) {
            logout()
        }
    }

</script>
<script>
    function login() {
        let $churchName = $("input[name='churchName']").val()
        let $password = $("input[name='password']").val()

        $.ajax({
            url: "/login",
            type: "post",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({churchName: $churchName, password: $password}),
            success: function (data) {
                saveTokenInCookie(data)
                saveTokenInSession(data)
                location.href = "/admin/"
            },
            error: function() {
                alert("비밀번호가 일치하지 않습니다.")
            }
        })
    }

    function saveTokenInCookie(data) {
        const expireDate = new Date()
        expireDate.setMinutes(expireDate.getMinutes() + 120)

        const refresh = data.refreshToken + "; expires=" + expireDate.toUTCString() + "; httpOnly"
        const grant = data.grantType + "; expires=" + expireDate.toUTCString() + ";"
        document.cookie = "refreshToken=" + refresh
        document.cookie = "grantType=" + grant
    }

    function saveTokenInSession(data) {
        sessionStorage.setItem("accessToken", data.accessToken)
    }

    function getCookie(name) {
        let value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
        return value? value[2] : null;
    }

    function logout() {
        $.ajax({
            url: "/auth/logout",
            type: "post",
            headers: {"Authorization": getCookie("grantType") + " " + $act},
            success: function () {
                // location.replace("/admin/login")
            },
            error: function (jqXHR) {
                if (jqXHR.status == 403) {
                    refresh(logout)
                }
            }
        })
    }

    function refresh(func, id) {
        $.ajax({
            url: "/refresh",
            type: "post",
            dataType: "json",
            success: function (data) {
                $act = data.accessToken

                if (id === undefined) {
                    func()
                } else {
                    func(id)
                }
            }
        })
    }
</script>
</html>