<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin-style.css}">
    <title>Document</title>
  </head>
  <body>
    <div class="password wrapper">
      <div class="add">
        <h4>교회 비밀번호 확인</h4>
        <select name="check-church-password">
          <option th:each="church : ${adminPageParam.getChurches()}" th:value="${church.getName()}" th:utext="${church.getName()}"></option>
        </select>
        <button onclick="getChurchPassword()">조회</button>
      </div>
      <div class="remove">
        <h4>비밀번호</h4>
        <input type="number" name="check-church-password" readonly/>
      </div>
    </div>

    <div class="church wrapper">
      <div class="add">
        <h4>교회 추가</h4>
        <input name="church" type="text">
        <button name="church" onclick="add(this.name)">추가</button>
      </div>

      <div class="remove">
        <h4>교회 삭제</h4>
        <select name="church">
          <option th:each="church : ${adminPageParam.getChurches()}" th:value="${church.getName()}" th:utext="${church.getName()}"></option>
        </select>
        <button name="church" onclick="remove(this.name)">삭제</button>
      </div>
    </div>

    <div class="event wrapper">
      <div class="add">
        <h4>종목 추가</h4>
        <input name="event" type="text">
        <button name="event" onclick="add(this.name)">추가</button>
      </div>

      <div class="remove">
        <h4>종목 삭제</h4>
        <select name="event">
          <option th:each="event : ${adminPageParam.getEvents()}" th:value="${event.getName()}" th:utext="${event.getName()}"></option>
        </select>
        <button name="event" onclick="remove(this.name)">삭제</button>
      </div>
    </div>

    <div class="category wrapper">
      <div class="add">
        <h4>부문 추가</h4>
        <select id="eventForAddCategory">
          <option th:each="event : ${adminPageParam.getEvents()}" th:value="${event.getName()}" th:utext="${event.getName()}"></option>
        </select>
        <input name="category" type="text">
        <button name="category" onclick="add(this.name)">추가</button>
      </div>

      <div class="remove">
        <h4>부문 삭제</h4>
        <select id="eventForRemoveCategory" onchange="getCategories(this.value)">
          <option th:each="event : ${adminPageParam.getEvents()}" th:value="${event.getName()}" th:utext="${event.getName()}" ></option>
        </select>
        <select id="categories" name="category"></select>
        <button name="category" onclick="remove(this.name)">삭제</button>
      </div>
    </div>

    <div class="department wrapper">
      <div class="add">
        <h4>부서 추가</h4>
        <input name="department" type="text">
        <button name="department" onclick="add(this.name)">추가</button>
      </div>

      <div class="remove">
        <h4>부서 삭제</h4>
        <select name="department">
          <option th:each="department : ${adminPageParam.getDepartments()}" th:value="${department.getName()}" th:utext="${department.getName()}"></option>
        </select>
        <button name="department" onclick="remove(this.name)">삭제</button>
      </div>
    </div>

    <div class="notification wrapper">
      <div class="add">
        <h4>공지사항 수정</h4>
        <input id="noti_title" th:value="${adminPageParam.notificationParam.getTitle()}">
        <textarea id="noti_content" th:utext="${adminPageParam.notificationParam.getContent()}"></textarea>
        <button onclick="setNotification()">수정</button>
      </div>
      <div class="remove">
        <h4>공지사항 삭제</h4>
        <button onclick="deleteNotification()">삭제</button>
      </div>
    </div>

    <div class="serverState wrapper">
      <h4>대회 참가 신청 가능 여부</h4>
      <p>
        현재 상태 : <b th:utext="${adminPageParam.getServerState()}"></b>
      </p>
      <input type="button" th:name="${adminPageParam.getServerState()}" value="변경" onclick="changeServerState()">
    </div>

    <div class="excel wrapper">
      <h4>모든 정보 excel로 받기</h4>
      <input type="button" value="다운로드" onclick="getAllDataAsExcel()">
    </div>

    <div class="logout wrapper">
      <h4>로그아웃</h4>
      <input type="button" value="로그아웃" onclick="logout()">
    </div>
  </body>
  <script src="http://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    let $act

    window.onload = function () {
      $act = sessionStorage.getItem("accessToken")
      sessionStorage.removeItem("accessToken")
      getCategories(document.getElementById("eventForRemoveCategory").value);
    }

    window.addEventListener("beforeunload", (event) => {
      sessionStorage.setItem("accessToken", $act)
    })
  </script>
  <script>
    function setNotification() {
      $.ajax({
        url: "/admin/notification",
        type: "post",
        headers: {"Authorization": getCookie("grantType") + " " + $act},
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({"title": $("#noti_title").val(), "content": $("#noti_content").val()}),
        success: function () {
          alert("저장 성공")
          location.reload()
        },
        error: function (jqXHR) {
          if (jqXHR.status == 403) {
            refresh(setNotification)
          } else {
            alert("문제가 발생했습니다.\n" +
                    "새로고침 혹은 다시 로그인 후 다시 시도해주세요.\n" +
                    "그래도 같은 문제가 발생한다면, 관리자에게 연락부탁드립니다.")
            location.reload();
          }
        }
      })
    }

    function deleteNotification() {
      $.ajax({
        url: "/admin/notification",
        type: "delete",
        headers: {"Authorization": getCookie("grantType") + " " + $act},
        success: function () {
          alert("삭제 성공")
          location.reload()
        },
        error: function (jqXHR) {
          if (jqXHR.status == 403) {
            refresh(deleteNotification)
          } else {
            alert("문제가 발생했습니다.\n" +
                    "새로고침 혹은 다시 로그인 후 다시 시도해주세요.\n" +
                    "그래도 같은 문제가 발생한다면, 관리자에게 연락부탁드립니다.")
            location.reload();
          }
        }
      })
    }

    function getChurchPassword() {
      const $churchName = $("select[name='check-church-password']").val()
      const $passwordShow = $("input[name='check-church-password']")

      $.ajax({
        url: "/admin/church-password",
        type: "get",
        data: {"churchName": $churchName},
        headers: {"Authorization": getCookie("grantType") + " " + $act},
        success: function (password) {
          $passwordShow.val(password)
        },
        error: function (jqXHR) {
          if (jqXHR.status == 404) {
            alert("교회 정보가 존재하지 않습니다.\n" +
                    "새로고침 후에 다시 시도해주세요.")
            location.reload();
          } else if (jqXHR.status == 403) {
            refresh(getChurchPassword)
          } else {
            alert("문제가 발생했습니다.\n" +
                    "새로고침 혹은 다시 로그인 후 다시 시도해주세요.\n" +
                    "그래도 같은 문제가 발생한다면, 관리자에게 연락부탁드립니다.")
            location.reload();
          }
        }
      })
    }

    function getCategories(eventName) {
      $string = ""
      $.ajax({
        url: "/register/category",
        type: "get",
        data: {eventName : eventName},
        headers: {"Authorization": getCookie("grantType") + " " + $act},
        success: function(response) {
          $(".category-option").remove()
          response.forEach(function(category) {
            $string += "<option class=\"category-option\" value=\"" + category.name + "\">" + category.name + "</option>"
          })
          $("#categories").append($string)
        },
        error: function (jqXHR) {
          if (jqXHR.status == 403) {
            refresh(getCategories, eventName)
          } else {
            alert("문제가 발생했습니다.\n" +
                    "새로고침 혹은 다시 로그인 후 다시 시도해주세요.\n" +
                    "그래도 같은 문제가 발생한다면, 관리자에게 연락부탁드립니다.")
            location.reload();
          }
        }
      })
    }

    function add(name) {
      let $value = $("input[name=" + name + "]").val()
      const $data = {}
      $data[name] = $value

      if (name === "category") {
        $value = $("#eventForAddCategory").val()
        $data["event"] = $value;
      }

      $.ajax({
        url: "/admin/" + name,
        type: "post",
        data: $data,
        headers: {"Authorization": getCookie("grantType") + " " + $act},
        success: function () {
          alert("추가 성공")
          location.reload()
        },
        error: function (jqXHR) {
          if (jqXHR.status == 400) {
            alert("이미 등록되어 있습니다.")
            location.reload();
          } else if (jqXHR.status == 403) {
            refresh(add, name)
          } else {
            alert("문제가 발생했습니다.\n" +
                    "새로고침 혹은 다시 로그인 후 다시 시도해주세요.\n" +
                    "그래도 같은 문제가 발생한다면, 관리자에게 연락부탁드립니다.")
            location.reload();
          }
        }
      })
    }

    function remove(name) {
      let $value = $("select[name=" + name + "]").val()
      const $data = {}
      $data[name] = $value

      if (confirm("정말 " + $value + "의 모든 정보를 삭제할까요? 신청된 참가자 정보도 같이 삭제됩니다.") == false) {
        return
      }

      if (name === "category") {
        $value = $("#eventForRemoveCategory").val()
        $data["event"] = $value;
      }

      $.ajax({
        url: "/admin/" + name,
        type: "DELETE",
        data: $data,
        headers: {"Authorization": getCookie("grantType") + " " + $act},
        success: function () {
          alert("삭제 성공")
          location.reload()
        },
        error: function (jqXHR) {
          if (jqXHR.status == 403) {
            refresh(remove, name)
          } else {
            alert("문제가 발생했습니다.\n" +
                    "새로고침 혹은 다시 로그인 후 다시 시도해주세요.\n" +
                    "그래도 같은 문제가 발생한다면, 관리자에게 연락부탁드립니다.")
            location.reload();
          }
        }
      })
    }

    function getAllDataAsExcel() {
      $.ajax({
        url: "/admin/excel",
        type: "get",
        headers: {"Authorization": getCookie("grantType") + " " + $act},
        success: function (link) {
          let downloadLink = document.createElement("a");
          downloadLink.href = link;

          document.body.appendChild(downloadLink);
          downloadLink.click();
          document.body.removeChild(downloadLink);
        },
        error: function (jqXHR) {
          if (jqXHR.status == 403) {
            refresh(getAllDataAsExcel)
          } else {
            alert("문제가 발생했습니다.\n" +
                    "새로고침 혹은 다시 로그인 후 다시 시도해주세요.\n" +
                    "그래도 같은 문제가 발생한다면, 관리자에게 연락부탁드립니다.")
            location.reload();
          }
        }
      })
    }

    function getCookie(name) {
      let value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
      return value? value[2] : null;
    }

    function logout() {
      $.ajax({
        url: "/auth/logout",
        type: "post",
        headers: {"Authorization": getCookie("grantType") + " " + $act},
        success: function () {
          location.replace("/admin/login")
        },
        error: function (jqXHR) {
          if (jqXHR.status == 403) {
            refresh(logout)
          }
        }
      })
    }

    function changeServerState() {
      $.ajax({
        url: "/admin/serverState",
        type: "post",
        headers: {"Authorization": getCookie("grantType") + " " + $act},
        success: function() {
          location.reload();
        },
        error: function (jqXHR) {
          if (jqXHR.status == 403) {
            refresh(changeServerState)
          }
        }
      })
    }

    function refresh(func, id) {
      $.ajax({
        url: "/refresh",
        type: "post",
        dataType: "json",
        success: function (data) {
          $act = data.accessToken

          if (id == undefined) {
            func()
          } else {
            func(id)
          }
        },
        error: function () {
          alert("토큰이 만료되었습니다. 다시 로그인 하십시오.")
          location.replace("/login")
        }
      })
    }
  </script>
</html>