<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <link rel="stylesheet" type="text/css" th:href="@{/css/home-style.css}">
        <title></title>
    </head>
    <body>
        <div class="popup-bg">
            <div class="popup">
                <h4 id="popup-title"></h4>
                <textarea id="popup-content" readonly></textarea>
                <button id="popup-close-btn" onclick="closePopup()">확인</button>
            </div>
        </div>
        <h1></h1>
        <div class="first-line-wrapper">
            <div class="first-line">
                <form th:action="@{/register/register}" method="get" name="form">
                    <label>종목 선택 ></label>
                    <input type="text" name="churchName" readonly style="display: none">
                    <select name="eventName" onchange="getList()">
                        <option th:each="event : ${events}" th:value="${event}" th:utext="${event}"></option>
                    </select>
                    <input id="register" type="submit" value="참가 신청">
                </form>
                <button name="logout" onclick="logout()">로그아웃</button>
            </div>
        </div>
        <div name="list" class="list">
            <h3 name="no-data-h3"></h3>
            <table>
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </body>
    <script src="http://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:inline="javascript">
        let $act
        let $churchName
        let $isServerOpen
        let $category
        const $departments = [[${departments}]]

        window.onload = function () {
            $act = sessionStorage.getItem("accessToken")
            sessionStorage.removeItem("accessToken")
            getChurchName()
        }

        window.addEventListener("beforeunload", (event) => {
            sessionStorage.setItem("accessToken", $act)
        })
    </script>
    <script>
        function getChurchName() {
            $.ajax({
                url: "/register/church",
                type: "get",
                headers: {"Authorization": getCookie("grantType") + " " + $act},
                success: function (data) {
                    $churchName = data.churchName
                    $isServerOpen = data.serverState;

                    // serverState가 OPEN인 경우
                    if ($isServerOpen === "OPEN") {
                        $("#register").attr("disabled", false)
                    } else {
                        $("#register").attr("disabled", true)
                    }

                    document.title = $churchName
                    $("input[name='churchName']").val($churchName)
                    $("h1").text($churchName + " 참가자 신청 목록")
                    getNotification()
                    getList()
                },
                error: function (jqXHR) {
                    if (jqXHR.status == 403) {
                        refresh(getChurchName)
                    } else {
                        alert("권한이 없습니다.")
                        location.replace("/login")
                    }
                }
            })
        }

        function getNotification() {
            $.ajax({
                url: "/admin/notification",
                type: "get",
                headers: {"Authorization": getCookie("grantType") + " " + $act},
                dataType: "json",
                success: function (data) {
                    $(".popup-bg").show()
                    $("#popup-title").text(data.title)
                    $("#popup-content").text(data.content)
                    $(".popup").show()
                    $(".list").hide()
                },
                error: function (jqXHR) {
                    if (jqXHR.status == 403) {
                        refresh(getNotification)
                    } else if (jqXHR.status == 404) {

                    }
                }
            })
        }

        function closePopup() {
            $(".popup-bg").hide()
            $(".popup").hide()
            $(".list").show()
        }

        function getList() {
            const $eventName = $("select[name='eventName']").val()
            const $churchName = $("input[name='churchName']").val()

            // 부문 정보 가져오기
            $.ajax({
                url: "/register/category",
                type: "get",
                headers: {"Authorization": getCookie("grantType") + " " + $act},
                contentType: "application/json; charset=utf-8",
                data: {eventName: $eventName},
                success: function (response) {
                    $category = response
                }
            })

            // 참가자 정보 가져오기
            $.ajax({
                url: "/register/applyment",
                type: "get",
                headers: {"Authorization": getCookie("grantType") + " " + $act},
                contentType: "application/json; charset=utf-8",
                data: {eventName: $eventName, churchName: $churchName},
                success: function (response) {
                    showList(response)
                },
                error: function (jqXHR) {
                    if (jqXHR.status == 404) {
                        $("h3[name='no-data-h3']").text("신청 내역이 없습니다.")
                        $(".inserted").remove()
                    } else if (jqXHR.status == 403) {
                        refresh(getList)
                    } else {
                        alert("문제가 발생했습니다.\n" +
                            "새로고침 혹은 재로그인 후 다시 시도하세요.\n" +
                            "그래도 같은 문제가 발생한다면, 관리자에게 연락부탁드립니다.")
                    }
                }
            })
        }

        function showList(datas) {
            let $string = ""

            $(".inserted").remove()
            $("h3[name='no-data-h3']").text("")

            $("thead").append(
                "<tr class=\"inserted\">\n" +
                "                <td>교회</td>\n" +
                "                <td>종목</td>\n" +
                "                <td>부문</td>\n" +
                "                <td>이름</td>\n" +
                "                <td>나이</td>\n" +
                "                <td>학년</td>\n" +
                "                <td>부서</td>\n" +
                "                <td>성별</td>\n" +
                "                <td></td>\n" +
                "                <td></td>\n" +
                "            </tr>"
            )
            for (const count in datas) {
                const data = datas[count]

                // 교회 | 종목 | 부문 | 이름 | 나이 | 학년 | 부서 | 성별
                $string +=
                    "<tr class=\"inserted\" name=\"list_" + data.id + "\">\n" +
                    "                <td><input name=\"churchName\" type=\"text\" value=\"" + data.churchName + "\" readonly /></td>\n" +
                    "                <td><input name=\"eventName\" type=\"text\" value=\"" + data.eventName + "\" readonly /></td>\n" +
                    "                <td>\n" +
                    "                    <select class=\"change-able\" name=\"categoryName\" disabled>\n"

                $category.forEach(function(data) {
                    $string += "<option value=\"" + data.name + "\">" + data.name + "</option>"
                })

                $string +=
                    "                    </select>\n" +
                    "                </td>\n" +
                    "                <td><input class=\"focus_input change-able\" type=\"text\" name=\"name\" value=\"" + data.name + "\" readonly/></td>\n" +
                    "                <td><input class=\"change-able\" type=\"number\" name=\"age\" value=\"" + data.age + "\" readonly/></td>\n" +
                    "                <td>\n" +
                    "                    <select class=\"change-able\" name=\"grade\" disabled>\n" +
                    "                        <option value=\"1\">1학년</option>\n" +
                    "                        <option value=\"2\">2학년</option>\n" +
                    "                        <option value=\"3\">3학년</option>\n" +
                    "                        <option value=\"4\">4학년</option>\n" +
                    "                        <option value=\"5\">5학년</option>\n" +
                    "                        <option value=\"6\">6학년</option>\n" +
                    "                    </select>\n" +
                    "                </td>\n" +
                    "                <td>\n" +
                    "                    <select class=\"change-able\" name=\"department\" disabled>\n"

                $departments.forEach(function(department) {
                    $string += "<option value=\"" + department + "\">" + department + "</option>"
                })

                $string +=
                    "                    </select>\n" +
                    "                </td>\n" +
                    "                <td>\n" +
                    "                    <select class=\"change-able\" name=\"gender\" disabled>\n" +
                    "                        <option value=\"남\">남</option>\n" +
                    "                        <option value=\"여\">여</option>\n" +
                    "                    </select>\n" +
                    "                </td>\n" +
                    "                <td>\n" +
                    "                    <button class=\"depand-on-server-state\" name=\"modify\" value=\"list_" + data.id + "\" onclick=\"modifyClick(this.value)\">수정</button>" +
                    "                    <button class=\"depand-on-server-state\" name=\"delete\" value=\"" + data.id + "\" onclick=\"deleteParticipant(this.value)\">삭제</button>" +
                    "                    <button class=\"depand-on-server-state\" name=\"modify-done\" value=\"" + data.id + "\" onclick=\"modifyDone(this.value)\" style=\"display: none\">수정 완료</button>" +
                    "                    <button class=\"depand-on-server-state\" name=\"modify-cancel\" value=\"list_" + data.id + "\" onclick=\"modifyCancel(this.value)\" \" style=\"display: none\">취소</button>" +
                    "               </td>" +
                    "            </tr>"

                $("tbody").append($string)
                $string = ""

                $("select[name='categoryName']").last().val(data.categoryName).prop("selected", true)
                $("select[name='grade']").last().val(data.grade).prop("selected", true)
                $("select[name='department']").last().val(data.department).prop("selected", true)
                $("select[name='gender']").last().val(data.gender).prop("selected", true)
            }


            if ($isServerOpen === "OPEN") {
                $(".depand-on-server-state").attr("disabled", false)
            } else {
                $(".depand-on-server-state").attr("disabled", true)
            }
        }

        function modifyClick(name) {
            const $tr = $("tr[name=" + name + "]")
            $tr.find("input.change-able").each(function () {
                $(this).attr("readonly", false)
            })

            $tr.find("select.change-able").each(function () {
                $(this).attr("disabled", false)
            })

            $tr.find("button[name='modify']").hide()
            $tr.find("button[name='delete']").hide()
            $tr.find("button[name='modify-done']").show()
            $tr.find("button[name='modify-cancel']").show()

            $tr.find(".focus_input").focus()
        }

        // TODO: 수정 취소 했을때 이전 데이터로 돌리는 로직 필요
        function modifyCancel(name) {
            const $tr = $("tr[name=" + name + "]")
            $tr.find("input.change-able").each(function () {
                $(this).attr("readonly", true)
            })

            $tr.find("select.change-able").each(function () {
                $(this).attr("disabled", true)
            })

            $tr.find("button[name='modify']").show()
            $tr.find("button[name='delete']").show()
            $tr.find("button[name='modify-done']").hide()
            $tr.find("button[name='modify-cancel']").hide()
        }

        function modifyDone(id) {
            const $tr = $("tr[name='list_" + id + "']")[0]

            let data = {}

            data["id"] = Number(id)

            for (let i=0; i<8; i++) {
                let $temp = $tr.cells.item(i).firstElementChild
                data[$temp.name] = $temp.value
            }

            $.ajax({
                url: "/register/applyment",
                type: "put",
                headers: {"Authorization": getCookie("grantType") + " " + $act},
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                success: function () {
                    alert("수정 완료")
                    getList()
                },
                error: function (jqXHR) {
                    if (jqXHR.status == 400) {
                        alert("수정하려는 신청 정보가 없거나, 중복되는 참가자가 있습니다.\n" +
                            "새로고침 후에 다시 시도할 때에도 같은 문제가 발생한다면, 중복되는 참가자가 있는것이므로, 홍길동A/홍길동B 와 같이 구분하거나, 삭제 후 다시 신청하세요")
                        getList()
                    } else if (jqXHR.status == 403) {
                        refresh(modifyDone, id)
                    } else {
                        alert("문제가 발생했습니다.\n" +
                            "새로고침 혹은 다시 로그인 후 다시 시도해주세요.\n" +
                            "그래도 같은 문제가 발생한다면, 관리자에게 연락부탁드립니다.")
                        location.reload();
                    }
                }
            })
        }

        function deleteParticipant(id) {
            const $tr = $("tr[name='list_" + id + "']")
            if (!confirm($tr.find("input[name='name']").val() + "님의 신청 정보를 정말 삭제 하시겠습니까?")) {
                return
            }

            let $eventName = $tr.find("input[name='eventName']").val()
            $.ajax({
                url: "/register/applyment",
                type: "delete",
                headers: {"Authorization": getCookie("grantType") + " " + $act},
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({eventName: $eventName, participantId: id}),
                success: function () {
                    console.log("success")
                    alert("삭제 완료")
                    getList()
                },
                error: function (jqXHR) {
                    if (jqXHR.status == 400) {
                        alert("삭제하려는 신청 정보가 없습니다.\n" +
                            "새로고침 후에 다시 시도해주세요.")
                        getList()
                    } else if (jqXHR.status == 403) {
                        refresh(deleteParticipant, id)
                    } else {
                        alert("문제가 발생했습니다.\n" +
                            "새로고침 혹은 다시 로그인 후 다시 시도해주세요.\n" +
                            "그래도 같은 문제가 발생한다면, 관리자에게 연락부탁드립니다.")
                        location.reload();
                    }
                }
            })
        }

        function getCookie(name) {
            let value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
            return value? value[2] : null;
        }

        function logout() {
            $.ajax({
                url: "/auth/logout",
                type: "post",
                headers: {"Authorization": getCookie("grantType") + " " + $act},
                success: function () {
                    location.replace("/login")
                },
                error: function (jqXHR) {
                    if (jqXHR.status == 403) {
                        refresh(logout)
                    }
                }
            })
        }

        function refresh(func, id) {
            $.ajax({
                url: "/refresh",
                type: "post",
                dataType: "json",
                success: function (data) {
                    $act = data.accessToken

                    if (id == undefined) {
                        func()
                    } else {
                        func(id)
                    }
                },
                error: function () {
                    alert("토큰이 만료되었습니다. 다시 로그인 하십시오.")
                    location.replace("/login")
                }
            })
        }
    </script>
</html>