<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" type="text/css" th:href="@{/css/register-style.css}">
    <title>참가자 등록</title>
</head>
<body>
    <h1 th:utext="${church} + ' 참가자 신청'"></h1>
    <div class="first-line-wrapper">
        <div class="first-line">
            <form th:action="@{/register/home}" method="get" name="home-form">
                <input type="hidden" name="churchName" th:value="${church}">
                <input type="submit" value="메인 화면">
            </form>
        </div>
    </div>
    <div class="list-wrapper">
        <div class="list">
            <table>
                <thead>
                    <tr>
                        <td>교회</td>
                        <td>종목</td>
                        <td>이름</td>
                        <td>나이</td>
                        <td>학년</td>
                        <td>부서</td>
                        <td>성별</td>
                    </tr>
                </thead>
                <tbody id="participant_table_body">
                    <tr>
                        <td><input type="text" th:value="${church}" readonly /></td>
                        <td><input type="text" th:value="${event}" readonly /></td>
                        <td><input class="input focus_input" type="text" name="name" /></td>
                        <td><input class="input" type="number" name="age"/></td>
                        <td>
                            <select name="grade">
                                <option value="1">1학년</option>
                                <option value="2">2학년</option>
                                <option value="3">3학년</option>
                                <option value="4">4학년</option>
                                <option value="5">5학년</option>
                                <option value="6">6학년</option>
                            </select>
                        </td>
                        <td>
                            <select name="department">
                                <option value="유치부">유치부</option>
                                <option value="유년부">유년부</option>
                                <option value="초등부">초등부</option>
                                <option value="중등부">중등부</option>
                                <option value="고등부">고등부</option>
                            </select>
                        </td>
                        <td>
                            <select name="gender">
                                <option value="남">남</option>
                                <option value="여">여</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="more-button-wrapper">
                <input type="button" name="more" value="더 입력하기..." onclick="newLine()" />
            </div>
            <p>
                <input type="button" value="등록" name="submit" onclick="requestSave()"/>
                <input type="reset" value="초기화" onclick="reset()" />
            </p>
        </div>
    </div>
</body>
<script src="http://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">
    const $church = [[${church}]]
    const $event = [[${event}]]
    const $table = document.getElementById("participant_table_body")
    let $act

    window.onload = function () {
        $act = sessionStorage.getItem("accessToken")
        sessionStorage.removeItem("accessToken")
        $(".focus_input").focus()
    }

    window.addEventListener("beforeunload", (event) => {
        sessionStorage.setItem("accessToken", $act)
    })
</script>
<script>
    function requestSave() {
        $.ajax({
            url: "/register/register",
            type: "post",
            data: JSON.stringify(tableToJson($table)),
            headers: {"Authorization": getCookie("grantType") + " " + $act},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data, status, jqXHR) {
                if (jqXHR.status == 200) {
                    alert("저장 성공")
                } else {
                    let ignoredApplymentString = "아래 명단은 제외하고 저장되었습니다.\n" +
                        "동명이인이라면, A,B로 구분부탁드립니다. 예시) 홍길동A, 홍길동B\n\n";

                    for (const count in data) {
                        const dataCount = data[count]
                        ignoredApplymentString += dataCount.name + "(" + dataCount.age + "세) \n"
                    }

                    alert(ignoredApplymentString)
                }

                reset()
            },
            error: function (jqXHR) {
                if (jqXHR.status == 403) {
                    refresh(requestSave)
                } else {
                    alert("문제가 발생했습니다.\n" +
                        "새로고침 혹은 재로그인 후 다시 시도하세요.\n" +
                        "그래도 같은 문제가 발생한다면, 관리자에게 연락부탁드립니다.")
                }
            }
        })
    }

    function tableToJson(table) {
        let data = []

        let keys = ["churchName", "eventName", "name", "age", "grade", "department", "gender"]

        for (let i=0; i<table.rows.length; i++) {
            let tableRow = table.rows[i]
            let rowData = {}

            for (let j=0; j<tableRow.cells.length; j++) {
                rowData[keys[j]] = tableRow.cells.item(j).firstElementChild.value
            }

            data.push(rowData)
        }

        return data
    }

    function newLine() {
        $("tbody").append(
            "<tr class=\"added\" >\n" +
            "                <td><input type=\"text\" value=\"" + $church + "\" readonly /></td>\n" +
            "                <td><input type=\"text\" value=\"" + $event + "\" readonly /></td>\n" +
            "                <td><input class=\"input focus_input\" type=\"text\" name=\"name\" /></td>\n" +
            "                <td><input class=\"input\" type=\"number\" name=\"age\"/></td>\n" +
            "                <td>\n" +
            "                    <select name=\"grade\">\n" +
            "                        <option value=\"1\">1학년</option>\n" +
            "                        <option value=\"2\">2학년</option>\n" +
            "                        <option value=\"3\">3학년</option>\n" +
            "                        <option value=\"4\">4학년</option>\n" +
            "                        <option value=\"5\">5학년</option>\n" +
            "                        <option value=\"6\">6학년</option>\n" +
            "                    </select>\n" +
            "                </td>\n" +
            "                <td>\n" +
            "                    <select name=\"department\">\n" +
            "                        <option value=\"유치부\">유치부</option>\n" +
            "                        <option value=\"유년부\">유년부</option>\n" +
            "                        <option value=\"초등부\">초등부</option>\n" +
            "                        <option value=\"중등부\">중등부</option>\n" +
            "                        <option value=\"고등부\">고등부</option>\n" +
            "                    </select>\n" +
            "                </td>\n" +
            "                <td>\n" +
            "                    <select name=\"gender\">\n" +
            "                        <option value=\"남\">남</option>\n" +
            "                        <option value=\"여\">여</option>\n" +
            "                    </select>\n" +
            "                </td>\n" +
            "            </tr>"
        )

        $(".focus_input:last").focus()
    }

    function reset() {
        $(".input").val("")
        $(".added").remove()
        $(".focus_input").focus()
    }

    function getCookie(name) {
        let value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
        return value? value[2] : null;
    }

    function refresh(func, id) {
        $.ajax({
            url: "/refresh",
            type: "post",
            dataType: "json",
            success: function (data) {
                $act = data.accessToken

                if (id == undefined) {
                    func()
                } else {
                    func(id)
                }
            },
            error: function () {
                alert("토큰이 만료되었습니다. 다시 로그인 하십시오.")
                location.replace("/login")
            }
        })
    }
</script>

</html>