:root {
    --add-button-hover-color: #6ae785;
    --remove-button-hover-color: #ff9090;
    --download-button-hover-color: #90cdff;
    --logout-button-hover-color: #ff9090
}

body {
    display: flex;
    flex-wrap: wrap;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 1px solid #c4c4c4;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 4rem;
}

.add button:hover,
.add button:focus {
    outline: none;
    background-color: var(--add-button-hover-color);
    border: 1px solid #ffffff;
    color: #ffffff;
}

.remove button:hover,
.remove button:focus {
    outline: none;
    background-color: var(--remove-button-hover-color);
    border: 1px solid #ffffff;
    color: #ffffff;
}

.excel input[type="button"]:hover {
    outline: none;
    background-color: var(--download-button-hover-color);
    border: 1px solid #ffffff;
    color: #ffffff;
}

.logout input[type="button"]:hover {
    outline: none;
    background-color: var(--logout-button-hover-color);
    border: 1px solid #ffffff;
    color: #ffffff;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 1px solid #c4c4c4;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 8rem;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 1px solid #c4c4c4;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 8rem;
}

.wrapper {
    display: flex;
    flex-direction: column;

    padding: 3rem;
}