@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

:root {
    --dividing-border-color: #a9a7a7;
    --insert-select-border-color: #c7c7c7;
    --modify-button-hover-color: #90cdff;
    --modify-done-button-hover-color: #6ae785;
    --modify-cancel-button-hover-color: #e79a6a;
    --delete-button-hover-color: #ff9090;
    --tr-hover-color: #f0f0f0;
    --firstline-bottom-border-color: #a9a7a7;
    --button-border-color: #c4c4c4;
    --read-only-text-color: #686868;
    --input-focus-bottom-border-color: #31bb41;
}

body {
    font-size: 16px;
}

.popup-bg {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
}

.popup {
    display: none;

    position: absolute;
    padding: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    width: 600px;
    height: 400px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
}

.popup > h3 > label {
    float: right;
}

#popup-title {
    font-size: 25px;
    margin: 10px;
}

#popup-content {
    width: 100%;
    height: 250px;
    resize: none;

    font-size: 20px;

    border-left: none;
    border-right: none;
    border-bottom: none;
}

#popup-close-btn {
    float: right;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 4rem;

    border: 1px solid #c4c4c4;
}

h1 {
    width: 100%;
    text-align: center;
}

h3[name="no-data-h3"] {
    text-align: center;
}

.first-line-wrapper {
    display: flex;
    justify-content: center;
}

.first-line {
    display: flex;
    justify-content: space-between;

    width: 900px;

    border-bottom: 1px solid var(--dividing-border-color);

    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.first-line select,
.first-line input,
.first-line button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--button-border-color);
}

.first-line input:hover {
    background: var(--modify-button-hover-color);
    color: #ffffff;
    border: 1px solid #ffffff;
}

.first-line button:hover {
    background-color: var(--delete-button-hover-color);
    color: #ffffff;
    border: 1px solid #ffffff;
}

.first-line input[type="submit"] {
    margin-left: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    border-spacing: 0px;
    width: 900px;
}

thead {
    text-align: center;
}

thead td {
    line-height: 3rem;
    border-bottom: 1px solid var(--dividing-border-color);
}

tbody td {
    border-top: 1rem solid white;
}

tbody input,
tbody select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 0.5rem;
    padding: 0.5rem;

    background-color: #ffffff;

    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: 1px solid var(--insert-select-border-color);
    border-top: none;
    border-left: none;
    border-right: none;

    text-align: center;
}

tbody input::-webkit-outer-spin-button,
tbody input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

tbody input:focus,
tbody select:focus {
    outline: none;
    border-bottom: 1px solid var(--input-focus-bottom-border-color);
}

tbody input {
    width: 6rem;
}

tbody button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    padding: 0.5rem;

    border-radius: 0.5rem;
    border: 1px solid var(--insert-select-border-color);
}

tbody tr:hover {
    background: var(--tr-hover-color);
}

td input[type="text"]:read-only,
td input[type="number"]:read-only,
td select:disabled {
    color: var(--read-only-text-color);
}

button[name="modify"]:hover {
    background: var(--modify-button-hover-color);
    color: #ffffff;
    border: 1px solid #ffffff;
}

button[name="modify-done"]:hover {
    background: var(--modify-done-button-hover-color);
    color: #ffffff;
    border: 1px solid #ffffff;
}

button[name="modify-cancel"]:hover {
    background: var(--modify-cancel-button-hover-color);
    color: #ffffff;
    border: 1px solid #ffffff;
}

button[name="delete"] {
    margin-right: 0.5rem;
}

button[name="delete"]:hover {
    background-color: var(--delete-button-hover-color);
    color: #ffffff;
    border: 1px solid #ffffff;
}