<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/login-style.css}">
        <title>노회대회</title>
    </head>
    <body>
        <div class="login" th:object="${loginParam}">
            <p class="wrapped">
                <label>교회 선택</label>
                <select th:field="*{churchName}">
                    <option th:each="church : ${churches}" th:value="${church}" th:utext="${church}"></option>
                </select>
            </p>
            <p class="wrapped">
                <label>비밀번호</label>
                <input type="password" th:field="*{password}">
            </p>
            <p class="wrapped">
                <button type="button" id="login">로그인</button>
            </p>
        </div>
    </body>
    <script src="http://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        const $login = $("#login");
        const $churchName = $("#churchName")
        const $password = $("#password")
        let $act

        window.onload = function () {
            $act = sessionStorage.getItem("accessToken")
            sessionStorage.removeItem("accessToken")
            if ($act != null) {
                logout()
            }
        }

        $login.on("click", function () {
            $.ajax({
                url: "/login",
                type: "post",
                data: JSON.stringify({churchName: $churchName.val(), password: $password.val()}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    saveTokenInCookie(data)
                    saveTokenInSession(data)
                    location.replace("/register/home")
                },
                error: function() {
                    alert("비밀번호가 일치하지 않습니다.")
                }
            })
        })
    </script>
    <script>
        function saveTokenInCookie(data) {
            const expireDate = new Date()
            expireDate.setMinutes(expireDate.getMinutes() + 120)

            const refresh = data.refreshToken + "; expires=" + expireDate.toUTCString() + "; httpOnly"
            const grant = data.grantType + "; expires=" + expireDate.toUTCString() + ";"
            // document.cookie = "refreshToken=" + refresh
            document.cookie = "grantType=" + grant
        }

        function saveTokenInSession(data) {
            sessionStorage.setItem("accessToken", data.accessToken)
        }

        function getCookie(name) {
            let value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
            return value? value[2] : null;
        }

        function logout() {
            $.ajax({
                url: "/auth/logout",
                type: "post",
                headers: {"Authorization": getCookie("grantType") + " " + $act},
                success: function () {
                    // location.replace("/admin/login")
                },
                error: function (jqXHR) {
                    if (jqXHR.status == 403) {
                        refresh(logout)
                    }
                }
            })
        }

        function refresh(func, id) {
            $.ajax({
                url: "/refresh",
                type: "post",
                dataType: "json",
                success: function (data) {
                    $act = data.accessToken

                    if (id === undefined) {
                        func()
                    } else {
                        func(id)
                    }
                }
            })
        }
    </script>
</html>